<div class="search-container">
  <input type="text" name="search-text" class="search-input"/>
  <button class="search-button">🔍</button>
</div>
.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
}

.search-input {
  flex-grow: 1;
  border: none;
  padding: 4px;
}

.search-button {
  background-color: #f11;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
}